*.html
rapport__*.png
/rapport.aux
/rapport.bbl
/rapport.blg
/rapport.log
/rapport.out
/rapport.toc
/soutenance.out
/soutenance.aux
/soutenance.log
/soutenance.nav
/soutenance.snm
/soutenance.toc
/soutenance.vrb
